.popper {
  position: absolute;
  background: #fff;
  min-width: 150px;
  z-index: 1000;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.09), 0px 2px 4px 0px rgba(0,0,0,0.06);
  border-radius: 4px;
  background-clip: padding-box;
  font-size: initial;
}

.transitionGroup {
  position: relative;
}

.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 10px;
}

.popper[data-placement^="top"] {
  margin-bottom: 10px;
}

.popper[data-placement^="top"] > .popper__arrow {
  border-width: 10px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  bottom: -10px;
  left: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement^="bottom"] {
  margin-top: 10px;
}

.popper[data-placement^="bottom"] > .popper__arrow {
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  top: -10px;
  left: calc(50% - 10px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[data-placement^="right"] {
  margin-left: 10px;
}

.popper[data-placement^="right"] > .popper__arrow {
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  left: -10px;
  top: calc(50% - 10px);
  margin-left: 0;
  margin-right: 0;
}

.popper[data-placement^="left"] {
  margin-right: 10px;
}

.popper[data-placement^="left"] > .popper__arrow {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
  right: -10px;
  top: calc(50% - 10px);
  margin-left: 0;
  margin-right: 0;
}

.popper .popper__content {
	padding: 10px;
}
